[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
jsonfield2 = "*"
django-simple-history = "*"

[dev-packages]

[requires]
python_version = "3.7"
